<% content_for :title do %><%= @id %><% end %>
<h1><%= @id %></h1>
<div class="row">
  <% @data.each do |row| %>
  <div class="col-md-4">
  <%= image_tag(row[:path],class: "img-responsive img-rounded")  %>
  <small><%= row[:ts] %>, <%= row[:marks] %> <%= row[:memo] %></small>
  </div>
  <% end %>
</div>
